:root {
	--color-1: #149414;
	--color-2: #0e6b0e;
	--color-3: #649568;
	--color-4: #9ccc9c;
	--color-5: #2b5329;
	--color-position-wrong: #b59f3b;
	--color-position-right: #538d4e;
	--color-letter-wrong: #212529;
}

body {
	background-color: black;
	color: white;
}

.carousel-item {
	height: 100vh;
}

.color-1 {
	color: #149414;
}

.color-2 {
	color: #0e6b0e;
}

.color-3 {
	color: #649568;
}

.color-4 {
	color: #9ccc9c;
}

.color-5 {
	color: #2b5329;
}

.game-board {
	display: grid;
	grid-template-rows: 100px 100px 100px;
	grid-template-columns: 100px 100px 100px;
	grid-gap: 10px;
}

.wordle-grid {
	display: grid;
	grid-template-rows: 50px 50px 50px 50px 50px 50px;
	grid-template-columns: 50px 50px 50px 50px 50px;
	grid-gap: 10px;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 5px solid var(--color-4);
	color: var(--color-4);
	font-size: 50px;
	background: var(--color-5);
}

.box:hover {
	background: var(--color-1);
}

.character {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--color-4);
	color: white;
	background-color: var(--color-letter-wrong);
	font-size: 20px;
}

.xo-stats {
	width: 320px;
}

.wordle-stats {
	width: 290px;
}
